@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    height: 100vh;
    background-color: rgb(68, 68, 68);
}

/* configurações iniciais dos links*/
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;}

a:hover {
    color: rgb(63, 107, 122);
}

/* Cabeçalho */

header {
    position: fixed;
    padding: 0 2rem;
    background-color: rgb(68, 68, 68);
    z-index: 100;
    top: 0;
    border-radius: 0px 0px 20px 0px;
}


.navbar {
    background-color: rgb(68, 68, 68);
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: rgb(63, 107, 122);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
}

.action_btn:active{
    scale: 0.95;
}
/*dropdown_menu :)*/
.dropdown_menu {
    position: absolute;
    height: 0px;
    right: 2rem;
    top: 60px;
    background: rgba(63, 107, 122, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
    
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*main*/


.title {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.479)
}


.action_btntitle {
    background-color: rgb(63, 122, 86);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-top: 50px;
}

.action_btntitle:hover {
    scale: 1.05;
    color: white;
}

.action_btntitle:active{
    scale: 0.95;
}


.background {
    inset: 0;
    width: 100%;
    height: 100vh;
}

.background::after {
    content: ' ';

    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    z-index: -1;
}
/*estados*/

#sãopaulo {
    background-image: url(img/img\ São\ paulo.jpg);
    background-size: cover;
    background-attachment: fixed;
}


#bahia {
    background-image: url(img/img\ bahia.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#riodejaneiro {
    background-image: url(img/Riodejaneiro.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

#santacatarina {
    background-image: url(img/santacatarina.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#amazonas {
    background-image: url(img/amazonas.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*Responsividade*/

@media(max-width: 992px){
    .navbar .links,
    .navbar  .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }
}

@media(max-width: 576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}